.App {
  text-align: center;
}

.tittle-pokemon{
  font-family: cursive;
  font-size: 50px;
  color: red;
}
.btn-pokemon{
  text-transform: capitalize;
  width: 170px;
  height: 40px;
  background-color: white;
  color: red;
  font-size: 18px;
  box-shadow: 5px 5px 5px red;
  border: .2px solid red;
}
.lista-pokemon{
  width: 200px;
  margin: 40px auto;
  font-size: 20px;
  text-align: end;
  text-transform: capitalize;
}

